|===
|Path|Type|Description|Optional|Default|Constraints

{{#fields}}
|{{path}}
|{{type}}
|{{description}}
|{{optional}}
|{{#default}}{{default}}{{/default}}
|{{#constraints}}{{constraints}}{{/constraints}}

{{/fields}}
|===